In [72]:
import pandas as pd
from evidently.dashboard import Dashboard
from evidently.tabs import DataDriftTab, CatTargetDriftTab
from evidently.model_profile import Profile
from evidently.profile_sections import DataDriftProfileSection 
from evidently.metric_preset import DataDriftPreset
from evidently.report import Report

In [73]:
data_url = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
boston_frame = pd.read_csv(data_url)

In [74]:
print(f"data shape: {boston_frame.shape}")
print("--------------------------------------------------------------------------------")
print(f"object info {boston_frame.info()}")
print("--------------------------------------------------------------------------------")

data shape: (506, 14)
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB
object info None
--------------------------------------------------------------------------------

In [75]:
# Data Drift Dashboard
boston_frame.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [76]:
# Split the data into reference and current datasets
reference_data = boston_frame[:200]  # First 200 rows as reference data
current_data = boston_frame[200:]    # Remaining rows as current data

In [77]:
reference_data, current_data

(        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
 0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
 1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
 2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
 3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
 4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
 ..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
 195  0.01381  80.0   0.46     0  0.422  7.875  32.0  5.6484    4  255
 196  0.04011  80.0   1.52     0  0.404  7.287  34.1  7.3090    2  329
 197  0.04666  80.0   1.52     0  0.404  7.107  36.6  7.3090    2  329
 198  0.03768  80.0   1.52     0  0.404  7.274  38.3  7.3090    2  329
 199  0.03150  95.0   1.47     0  0.403  6.975  15.3  7.6534    3  402

      ptratio       b  lstat  medv
 0       15.3  396.90   4.98  24.0
 1       17.8  396.90   9.14  21.6
 2       17.8  392.83   4.03  34.7
 3       18.7  394.63   2.94  33.4
 4       18.7  396.90   5.33  36.2
 ..       ...     ...    ...   ...
 195     14.4  394.23   2.97  50.0
 196     12.6  396.90   4.08  33.3
 197     12.6  354.31   8.61  30.3
 198     12.6  392.20   6.62  34.6
 199     17.0  396.90   4.56  34.9

 [200 rows x 14 columns],
         crim    zn  indus  chas     nox     rm   age     dis  rad  tax  \
 200  0.01778  95.0   1.47     0  0.4030  7.135  13.9  7.6534    3  402
 201  0.03445  82.5   2.03     0  0.4150  6.162  38.4  6.2700    2  348
 202  0.02177  82.5   2.03     0  0.4150  7.610  15.7  6.2700    2  348
 203  0.03510  95.0   2.68     0  0.4161  7.853  33.2  5.1180    4  224
 204  0.02009  95.0   2.68     0  0.4161  8.034  31.9  5.1180    4  224
 ..       ...   ...    ...   ...     ...    ...   ...     ...  ...  ...
 501  0.06263   0.0  11.93     0  0.5730  6.593  69.1  2.4786    1  273
 502  0.04527   0.0  11.93     0  0.5730  6.120  76.7  2.2875    1  273
 503  0.06076   0.0  11.93     0  0.5730  6.976  91.0  2.1675    1  273
 504  0.10959   0.0  11.93     0  0.5730  6.794  89.3  2.3889    1  273
 505  0.04741   0.0  11.93     0  0.5730  6.030  80.8  2.5050    1  273

      ptratio       b  lstat  medv
 200     17.0  384.30   4.45  32.9
 201     14.7  393.77   7.43  24.1
 202     14.7  395.38   3.11  42.3
 203     14.7  392.78   3.81  48.5
 204     14.7  390.55   2.88  50.0
 ..       ...     ...    ...   ...
 501     21.0  391.99   9.67  22.4
 502     21.0  396.90   9.08  20.6
 503     21.0  396.90   5.64  23.9
 504     21.0  393.45   6.48  22.0
 505     21.0  396.90   7.88  11.9

 [306 rows x 14 columns])

In [78]:
data_drift_report = Report(metrics=[DataDriftPreset()])

In [80]:
# Calculate the report
data_drift_report.run(reference_data=reference_data , current_data=current_data)

In [81]:
# Save the report to an HTML file
data_drift_report.save_html("boston_data_drift_report.html")

print("Data drift report generated and saved as 'boston_data_drift_report.html'.")

Data drift report generated and saved as 'boston_data_drift_report.html'.